{% extends "base.html" %}
{% block content %}
  <div class="container">

    <div class="col s6">
      <div class="card">
        <a class="waves-effect waves-light btn" href="{% url 'create_report' %}">Create Report</a>
      </div>
      <div class="card">
        <a class="waves-effect waves-light btn" href="{% url 'ongoing_reports' %}">View Ongoing Reports</a>
      </div>
      <div class="card">
        <a class="waves-effect waves-light btn" href="{% url 'completed_reports' %}">View Completed Reports</a>
      </div>
    </div>
  </div>
{% endblock %}
